:root {
  --color-primary-dark-blue: #176B8C;
  --color-secondary-light-blue: #7CA1BD;
  --color-tertiary-gray: #F0F0F0;
  --color-quarternary-dark-gray: #5A5D5D;
  --color-quinary-light-gray: #CFCFCF;
  --color-senary-red: #FF0004;
  --color-septenary-white: #FFF;
  --color-hover-blue: #125871;
  --color-hover-white: #f4f8fb;
  --color-hover-white-two: #fafafa;
}